Test/Intelbras.CRM2012.Tests/Service References/WsCrm4/ConsultaCRM4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/crm/2009/WebServices">
      <s:element name="ContaCRM4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodigoEmitente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GuidCRM2013" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContaCRM4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContaCRM4Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ContaCRM4SoapIn">
    <wsdl:part name="parameters" element="tns:ContaCRM4" />
  </wsdl:message>
  <wsdl:message name="ContaCRM4SoapOut">
    <wsdl:part name="parameters" element="tns:ContaCRM4Response" />
  </wsdl:message>
  <wsdl:portType name="ConsultaCRM4Soap">
    <wsdl:operation name="ContaCRM4">
      <wsdl:input message="tns:ContaCRM4SoapIn" />
      <wsdl:output message="tns:ContaCRM4SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaCRM4Soap" type="tns:ConsultaCRM4Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContaCRM4">
      <soap:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/ContaCRM4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaCRM4Soap12" type="tns:ConsultaCRM4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ContaCRM4">
      <soap12:operation soapAction="http://schemas.microsoft.com/crm/2009/WebServices/ContaCRM4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaCRM4">
    <wsdl:port name="ConsultaCRM4Soap" binding="tns:ConsultaCRM4Soap">
      <soap:address location="http://sjo-crm-test-02:5554/ISV/Intelbras/WebServices/IntegracaoCrm2013/ConsultaCRM4.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultaCRM4Soap12" binding="tns:ConsultaCRM4Soap12">
      <soap12:address location="http://sjo-crm-test-02:5554/ISV/Intelbras/WebServices/IntegracaoCrm2013/ConsultaCRM4.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>